html, body, div#sidebar {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

/* First anchor element style (30%) */
.container > a:first-child {
    flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
    background-color: lightblue; /* Just for visualization */
    padding: 20px;
    border-right: 1px solid black;
}

/* Second and third anchor elements style (70% combined) */
.container > a:nth-child(n+2) {
    flex: 1; /* Takes remaining space */
    background-color: lightgreen; /* Just for visualization */
    padding: 20px;
    text-align: center;
    border-right: 1px solid black;
}

.container > a:last-child{
    border-right: none;
}


#sidebar { 
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 2px solid black;
}

#sidebar a{
    padding: 0.5em;
    padding-left: 0.7em;
    border-bottom: 2px solid black;
}