html, body, #sidebar {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: black;
    font-weight: bold;
}

.container > a:first-child {
    flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
    padding: 20px;
    border-right: 1px solid black;
}

.container > a:nth-child(n+2) {
    flex: 1; /* Takes remaining space */
    padding: 20px;
    text-align: center;
    border-right: 1px solid black;
    text-decoration: none;
    color: black;
}

.container > a:last-child{
    border-right: none;
}


#content { 
    display: flex;
}

#sidebar { 
    width: 25%;
    border-right: 2px solid black;
}

#sidebar a{
    display: flex;
    padding: 0.5em;
    padding-left: 0.7em;
    border-bottom: 2px solid black;
    color: black;
}


#mainContent  {
    display: inline-block;
    flex-grow: 1;
    padding: 1em;
}


.footer { 
    background-color: gray;
    text-align: center;
    color: black;
    padding: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
